<div class="container">
  <h2 class="sub">Cennik</h2>
   <p class="artykul">
   <b>4 pokoje 2-os. z balkonami (powierzchnia powyżej 25 m2 )</b><br> 
   cena <b>w sezonie</b>: 130 zł do 2 nocy, przy dłuższym pobycie 110 zł/ pokój,<br>  
   <b>poza sezonem</b>: 120 zł do 2 nocy, przy dłuższym pobycie 100 zł/ pokój. 
   </p>
   <p class="artykul">
   <b>5 pokoi 2-os. z balkonami (powierzchnia do 25 m2 )</b><br> 
   cena <b>w sezonie</b>: 120 zł do 2 nocy, przy dłuższym pobycie 100 zł/ pokój,<br>
   <b>poza sezonem</b>: 110 zł do 2 nocy, przy dłuższym pobycie 90 zł/ pokój.
   </p>
   
   <p class="artykul">
   <b>1 pokój 2-os. bez balkonu (powierzchnia do 25 m2 )</b><br> 
   cena <b>w sezonie</b>: 110 zł do 2 nocy, przy dłuższym pobycie 90 zł/ pokój,<br>
   <b>poza sezonem</b>: 100 zł do 2 nocy, przy dłuższym pobycie 90 zł/ pokój.
   </p>
   
   <p class="artykul">
   <b>Możliwość dostawki + 25 zł.</b><br>
   Dopłata za dziecko śpiące we własnym łóżeczku lub z rodzicami + 10 zł.
   </p>

   <p class="artykul">
   Zestaw obiadowy – 26 zł<br>
   Zestaw obiadowy dla dzieci – 17 zł<br>
   Drugie danie – 17 zł<br>
   Śniadanie – 18 zł<br>
   Śniadanie dla dzieci – 12 zł<br>
   Kolacja – 20zł
   </p>
   <p class="artykul">
   <b>Ceny nie dotyczą rezerwacji na Sylwestra.</b>
   </p>
   <p class="artykul">
   Aby dokonać rezerwacji prosimy o kontakt e-mailowy lub telefoniczny.<br> 
   Po potwierdzeniu dostępności pokoju i terminu, rezerwację miejsca potwierdza wpłata zadatku (ok. 30% ceny całego pobytu) na nasze konto.
   </p>
   
   <p class="artykul">
   Konto bankowe:<br>
   <b>BGŻ Wadowice</b><br>
   <b>51 2030 0045 1110 0000 0204 4820</b>
   </p>
   
   
   <ul>
     <li><b>- DOBA HOTELOWA:</b> Od godz. 13:00 w dniu przyjazdu do godz. 10:00 w dniu wyjazdu.</li>
     <li><b>- SEZON:</b> Od 15 kwietnia do 31 października.</li>
     <li><b>- PARKING:</b> Parking na terenie posesji, monitorowany, bezpłatny dla gości. Nie ponosimy odpowiedzialności za pozostawiony samochód oraz znajdujące się w nim mienie.</li>
     <li><b>- CISZA NOCNA:</b> Od godziny 22:00 do 7:00. Prosimy o zamykanie drzwi wejściowych podczas ciszy nocnej.</li>
     <li><b>- ZAKAZ PALENIA:</b> W całym obiekcie obowiązuje bezwzględny zakaz palenia, nie dotyczy balkonów oraz tarasu.</li>
     <li><b>- ZWIERZĘTA:</b> Nie przyjmujemy zwierząt.</li>
     <li><b>-</b> Powyższe ceny nie dotyczą okresu <b>SYLWESTRA</b>.</li>
   </ul>


   
  
  
 </div>