.artykul {
    padding:0 10px 10px 0;
     margin:0;
    font-size:14px; 
    text-align:justify; 
    line-height:16px;
}

.sub {
    padding:4px;
     margin-bottom:10px;
      border-style:solid none solid none; 
      border-width:1px;
       border-color:#3c3c3c #3c3c3c #c0c0c0;
    font-family: Dekar, arial; 
    font-size:25px;
     text-align:left;
    }

    .ema b {
        font-weight:normal;
    }