
<div class ="container">
  <h2 class="sub">Kontakt</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3458.435405498787!2d19.541760516165674!3d49.734953679383075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47167fcb58cd7967%3A0xb6122bb3a4ec1e52!2sAgroturystyka!5e1!3m2!1spl!2spl!4v1611925555642!5m2!1spl!2spl"
   width="1110" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>   

   <div style="font: size 15; margin-top:20px;">
           
   <b>Telefon:</b><br>
   (+48) 504-202-424 <br>
   (+48) 33 874-24-80<br>
   <br>
   <b>Adres:</b><br>
   Agroturystyka Stryszawa<br>
   Stryszawa 189a<br>
   34-205 Stryszawa<br>
   woj. małopolskie<br>
    <br>
   <b>E-mail:</b><br>
   <div class="ema">
     truskawka33@op.pl<br>
    </div>
   <br>
   
   <b>Konto bankowe:</b><br>
   BANK PEKAO S.A.<br>
   XXXX XXXXX XXXXX XXXXX 
   </div>

 </div>