
<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-5 col-md-6 col-12 pb-4">
              <h1>Komentarze:</h1>

              <li *ngFor="let comment of comments">
              <div class="comment mt-4 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>  {{comment.nickName}} 
                        <button *ngIf="loggedIn()" type="button" class="btn btn-sm btn-danger" 
                        (click)="deleteComment(comment.id)" ><i class="fa fa-trash-o"></i>Usuń</button>
                    </h4> 
                    <span><br>{{comment.dateAdded}}</span> <br>
                    <p>{{comment.content}} </p>
              </div>
            </li>
            
          </div>
          <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
              <form id="algin-form">

                  <div class="form-group">
                      <h4>Umieść swój komentarz</h4> 
                      <label for="message">Wiadomość</label> 
                      <textarea name="msg" id="" msg cols="30" rows="5" class="form-control" style="background-color: black; "[(ngModel)]="model.content"></textarea>
                  </div>
                                   
                  <div class="form-group">
                       <label for="name">Imie</label> 
                    <input class="form-control" type="text" required name="name" id="fullname"  [(ngModel)]="model.nickname"> 
                 </div>

                  <div class="form-group"> 
                      <label for="email">Email</label> 
                      <input type="text" name="email" id="email" class="form-control" [(ngModel)]="model.email">
                     </div>

                  <div class="form-group">
                       <button type="button" id="post" class="btn" (click)="addComment()">Umieść komentarz</button> 
                    </div>

              </form>
          </div>
      </div>
  </div>
</section>