<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Agroturystyka Stryszawa</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Pokoje </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ogród</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hodowla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Opinie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cennik</a>
      </li>
    </ul>


  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Użytkownik">
    <input class="form-control mr-sm-2" type="password" placeholder="Hasło">
    <button class="btn btn-outline-success mr-sm-2" type="submit">Zaloguj</button>
    <button class="btn btn-outline-success mr-sm-2" type="submit">Zarejestruj się</button>

  </form>

</nav>